/* SIDEBAR */
#sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #1f1f1f;
}

/* Link Sidebar */
#sidebar a {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    border-radius: 6px;
    transition: 0.2s;
    font-size: 15px;
}

/* Hover */
#sidebar a:hover {
    background-color: #2a2a2a;
}

/* Spacing ikon */
#sidebar iconify-icon {
    margin-right: 8px;
    font-size: 20px;
}

/* Heading */
#sidebar h3 {
    font-size: 18px;
    font-weight: bold;
}
